<?xml version="1.0"?>
<launch>
<!-- Turtle Roboter starten -->
<include file="$(find tams_turtlebot_bringup)/launch/tams_turtlebot_navigation.launch"  />
<!-- size: 0.077-->

<arg name="tag_param" default="[{id: $(env RPC_DOCK_ID),size: 0.105}]"/>

<node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector">
    <rosparam param="tag_descriptions" subst_value="True" >$(arg tag_param)</rosparam>
    <remap from="/image_rect" to="/camera/rgb/image_raw"/>
    <remap from="/camera_info" to="/camera/rgb/camera_info"/>
  </node>


</launch>

