<?xml version="1.0"?>
<launch>

<arg name="tag_param" default="[{id: 100,size: 0.092},{id: 99,size: 0.100},{id: 98,size: 0.100},{id: 97,size: 0.100}]"/>

<node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector">
    <rosparam param="tag_descriptions" subst_value="True" >$(arg tag_param)</rosparam>
    <remap from="/image_rect" to="/camera/rgb/image_raw"/>
    <remap from="/camera_info" to="/camera/rgb/camera_info"/>
</node>

<node name="dockServer" pkg="docking" type="docking_server" respawn="false" output="screen">
	<param name="HOME_POSE_X" type="double" value="$(env TURTLEBOT_HOME_POSE_X)" />
        <param name="HOME_POSE_Y" type="double" value="$(env TURTLEBOT_HOME_POSE_Y)" />;
</node>

</launch>
