<?xml version="1.0"?>
<launch>
<!-- Listener -->
<node name="dock" pkg="docking" type="docking_node" args="--test" respawn="false" output="screen" >
<param name="tag_id" type="str" value="$(env RPC_DOCK_ID)" />
<param name="pre_docking_pose_x" value="$(env TURTLEBOT_PRE_DOCKING_POSE_X)" type="double"/>
<param name="pre_docking_pose_y" value="$(env TURTLEBOT_PRE_DOCKING_POSE_Y)" type="double"/>

</node>
</launch>

